/**
 * Main content area (adjacent to sidebar) product layout
 */
.content-area,
.widget-area {

    .woocommerce-product-archive & {
        @include fill-parent();
    }

}

@include media( $laptop-up ) {

    .woocommerce-product-archive {

        &.has-shop-sidebar {

            .content-area {

                @include span-columns(12 of 16);
                @include shift-in-context(4);

            }

            .widget-area {

                @include span-columns(4 of 16);
                @include shift-in-context(-16);

                margin-bottom: ms(4);

            }

        }

    }

}

@include media( $desktop-up ) {

    .woocommerce-product-archive {

        &.has-shop-sidebar {

            .content-area {

                @include span-columns(14 of 18);
                @include shift-in-context(4);

            }

            .widget-area {

                @include span-columns(4 of 18);
                @include shift-in-context(-18);

            }

        }

    }

}

.macchiato-sorting {

    margin-bottom: ms();

    &:first-of-type {

        .woocommerce-result-count {

            display: none;

        }

    }

}

.woocommerce-ordering {

    margin: 0 0 ms();

}

@include media( $tablet-up ) {

    .macchiato-sorting {

        display: inline-flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;

        &:first-of-type {

            .woocommerce-result-count {

                display: inline-flex;

            }

        }

        &:last-of-type {

            .woocommerce-result-count {

                align-self: flex-start;

            }

        }

    }

    .woocommerce-ordering,
    .woocommerce-result-count {

        display: inline-flex;
        margin: 0;
        align-self: auto;

    }

    .woocommerce-result-count {

        align-self: flex-end;
        font-size: 90%;

    }

    .woocommerce-pagination {

        display: inline-flex;

    }

}