// The whole tabs sections
.woocommerce-tabs {

    @include clearfix();
    clear: both;

}

// The whole tabs sections
.woocommerce-tabs {

    // Tab navigation
    ul.tabs {

        list-style: none;
        margin-left: 0;
        text-align: left;
        border-top: 1px solid $grey;
        margin-bottom: ms(2);

        li {

            display: block;
            margin: 0;
            border-bottom: 1px solid $grey;
            position: relative;

            a {
                padding: ms();
                display: block;
            }

            // Active tab indicator - shows on .active class 
            &:after {

                @include fa-icon();

                content: "\f107";
                display: block;
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                transition: opacity $transition $duration;
                opacity: 0;
                right: ms();

            }

            &.active {

                a {
                    font-weight: $body-bold-weight;
                    background-color: $light-grey;
                }

                &:after {
                    opacity: 1;
                }

            }

        }

    }

    .panel {

        padding: ms();

        &.woocommerce-Tabs-panel--reviews {
            padding: 0;
        }

        // Tab panel title
        h2:first-of-type {
            font-size: ms(2);
            margin-bottom: ms(0);
        }

    }

}

@include media( $laptop-up ) {

    .woocommerce-tabs {

        @include clearfix;

        ul.tabs {

            @include span-columns( 3 of 12 );

            li {

                // Flip the tab indicator on larger screens now
                // we've got left/right aligned elements.
                &:after {
                    content: "\f105";
                }

                &.active:after {
                    right: ms(0);
                }

            }

        }

        .panel {

            margin-top: 0;
            padding: 0;

            @include span-columns( 9 of 12 );
            @include omega;

        }

    }

}