/**
 * Header Elements
 */
.site-actions-menu {

    float: right;

    @include unstyled-list( true );

    .action-search,
    .action-account {

        display: none;

        @include media( $tablet-up ) {

            display: inline-block;

        }

    }

}

.action-search,
.action-account,
.action-cart {

    vertical-align: top;

}

.account-link,
.cart-contents {

    display: inline-block;
    text-align: center;
    line-height: ms(4);
    width: ms(4);
    height: ms(4);
    background-color: $light-grey;
    border: 1px solid $dark-grey;

}

.account-link {

    &:after {

        @include fa-icon();

        content: "\f2be";

    }

}

.off-canvas-toggle-button {

    display: inline-block;
    text-align: center;
    line-height: ms(4);
    width: ms(4);
    height: ms(4);
    background-color: $black;
    color: $white;
    border: 1px solid $dark-grey;

    &:after {

        @include fa-icon();

        content: "\f0c9";

    }

}

.cart-contents {

    &:after {
        @include fa-icon();
        
        content: "\f290";
    }

    .amount {
        display: none;
    }

}

.action-cart {

    list-style-type: none;
    margin-left: 0;
    padding: 0;
    margin-bottom: 0;
    position: relative;

    .count {

        top: 0;
        right: 0;

        position: absolute;
        height: ms(1);
        width: ms(1);
        font-size: ms(-2);
        border-radius: 50%;
        background-color: $orange;
        color: $white;
        text-transform: uppercase;
        text-align: center;
        line-height: ms();
        border: 1px solid $white;

        @include media( $tablet-up ) {
            top: ms();
        }

    }

    .widget_shopping_cart {
        display: none;

        .product_list_widget {
            img {
                margin-left: ms();
            }
        }
    }
}