/**
 * My Account - Login/Register 
 */
.woocommerce-account:not(.logged-in) {

    .entry-content .woocommerce {

        @include fill-parent();

        font-size: ms(0);

        @include media( $phone-up ) {

            @include span-columns( 10 of 12 );
            @include shift-in-context( 1 );

            padding: ms(5);
            margin-top: ms(5);
            margin-bottom: ms(5);
        }

        @include media( $tablet-up ) {

            @include span-columns( 10 of 12 );
            @include shift-in-context( 1 );

        }

        @include media( $laptop-up ) {

            @include span-columns( 10 of 12 );
            @include shift-in-context( 1 );

        }

    }

}

.woocommerce-account {

    .entry-content {

        font-size: ms(0);

    }

    .entry-content .woocommerce {

        @include clearfix();

        margin-top: ms(6);
        margin-bottom: 20%;

    }

}

/**
 * My Account
 */
.woocommerce-MyAccount-content {
    .woocommerce-Pagination {
        text-align: center;
    }
}

.woocommerce-MyAccount-content {

    margin-top: $gutter;

}


.woocommerce-MyAccount-navigation {

    border-left: 1px solid $grey;
    border-top: 1px solid $grey;

    ul {

        margin-left: 0;

        li {

            list-style: none;
            border-bottom: 1px solid $grey;
            border-right: 1px solid $grey;
            position: relative;
    
            @include media( $phone-up ) {

                display: inline-block;
                width: 50%;
                margin: 0 -2px;

            }

            @include media( $tablet-up ) {

                display: block;
                width: auto;
                margin: 0;

            }

            &.is-active {

                a {
                    background-color: $grey;
                }

                a:before {
                    opacity: 1;
                }
            }

        }

    }

}

.woocommerce-MyAccount-navigation li {

    a {

        font-size: ms(0);
        text-transform: uppercase;
        font-weight: $body-bold-weight;
        padding: ms(-1);
        display: block;

        &:before {

            @include fa-icon();
            transition: all $transition $duration;

            content: "\f0f6";
            line-height: 1.618;
            margin-left: ms(-3);
            width: ms(2);
            text-align: right;
            float: right;
            opacity: .25;
            width: ms();
            text-align: center;
        }

        &:hover {

            &:before {
                opacity: 1;
            }

        }

    }

    &.woocommerce-MyAccount-navigation-link--dashboard a:before {
        content: "\f2be";
    }

    &.woocommerce-MyAccount-navigation-link--orders a:before {
        content: "\f290";
    }

    &.woocommerce-MyAccount-navigation-link--downloads a:before {
        content: "\f019";
    }

    &.woocommerce-MyAccount-navigation-link--edit-address a:before {
        content: "\f2ba";
    }

    &.woocommerce-MyAccount-navigation-link--payment-methods a:before {
        content: "\f09d";
    }

    &.woocommerce-MyAccount-navigation-link--edit-account a:before {
        content: "\f05a";
    }

    &.woocommerce-MyAccount-navigation-link--customer-logout a:before {
        content: "\f08b";
    }

    &.woocommerce-MyAccount-navigation-link--subscriptions a:before {
        content: "\f021";
    }

}

ul.order_details {

    @include clearfix;

    list-style: none;
    position: relative;
    margin: ms(6) 0;

    li {
        padding: 1em ms(3);
        font-size: .8em;
        text-transform: uppercase;

        &:first-child {
            padding-top: ms(3);
        }

        &:last-child {
            border: 0;
            padding-bottom: ms(3);
        }

        strong {
            display: block;
            font-size: ms(2);
            text-transform: none;
        }
    }
}

.my_account_orders,
.woocommerce-MyAccount-downloads {
    .button {
        padding: ms(-2) ms(-1);
        font-size: ms(-1);
        margin-right: .236em;
    }
}

.my_account_orders {
    .button.view {
        &:after {
            @include fa-icon();

            content: "\f06e";
            margin-left: ms(-3);
        }
    }
}

p.order-again {
    .button {
        &:after {
            @include fa-icon();

            content: "\f021";
            margin-left: ms(-3);
        }
    }
}

.woocommerce-MyAccount-downloads {
    .button {
        &:after {
            @include fa-icon();

            content: "\f0ed";
            margin-left: ms(-3);
        }
    }
}

.woocommerce-MyAccount-content {
    h2 {
        font-size: ms(2);
        font-weight: $header-bold-weight;
    }

    #payment {
        .payment_methods {
            margin-bottom: ms(3) !important;

            li {
                .payment_box {
                    background-color: rgba(#000,.05);
                }
            }
        }
    }
}

/**
 * My Account
 */
table + .addresses {
    margin-top: ms(3);
}

.u-columns {
    
    @include clearfix();

    .col-1,
    .col-2 {
        @include fill-parent();
    }

}

@include media( $tablet-up ) {

    .u-columns {

        .col-1,
        .col-2 {
            @include span-columns(6 of 12);
        }

        .col-2 {
            @include omega();
        }

    }

    .woocommerce-MyAccount-navigation {
        @include span-columns( 2 of 9 );
    }

    .woocommerce-MyAccount-content {
        @include span-columns( 7 of 9 );

        .form-row-first {
            @include span-columns( 3 of 7 );
        }

        .form-row-last {
            @include span-columns( 4 of 7 );
        }
    }

}

table.my_account_orders {
    font-size: ms(-1);
}

.addresses {
    header.title {
        @include clearfix;

        h3 {
            float: left;
            margin-top: 0;
        }

        a {
            float: right;
            display: block;
            width: ms();
            height: ms();
            text-indent: -9999px;
            position: relative;
            padding: ms(-1);
            margin-top: ms(-2);

            &:before {
                @include fa-icon();

                content: "\f044";
                line-height: 1.618;
                position: absolute;
                top :0;
                left: 0;
                height: 100%;
                width: 100%;
                text-align: center;
                text-indent: 0;
            }
        }
    }
}