/**
 * Shop tables
 */
table.shop_table_responsive {

    table-layout: initial;

    thead {
        display: none;
    }

    tbody {

        th {
            display: none;
        }

    }

    tr {

        td {

            display: block;
            text-align: right;
            clear: both;
            vertical-align: middle;

            padding: ms(-1);

            &:before {
                content: attr(data-title) ': ';
                font-weight: $body-bold-weight;
                float: left;
                padding-right: ms();
            }

            &.product-remove {
                a {
                    text-align: left;
                }

                &:before {
                    display: none;
                }
            }

            &.actions,
            &.download-actions {
                &:before {
                    display: none;
                }
            }

            &.download-actions {
                .button {
                    display: block;
                    text-align: center;
                }
            }
        }
    }

    &.my_account_orders {
        .order-actions {
            text-align: right;

            &:before {
                display: none;
            }
        }
    }
}

@include media( $tablet-up ) {

    /**
     * Responsive tables
     */
    table.shop_table_responsive {
        thead {
            display: table-header-group;
        }

        tbody {
            th {
                display: table-cell;
                padding: ms(-1);
            }
        }

        tr {
            td {
                display: table-cell;
                padding: ms(-1);
                text-align: left;

                &:before {
                    display: none;
                }
            }
        }
    }

}