/**
 * Cart
 */

.woocommerce-cart {

    .entry-header,
    .entry-content .woocommerce {
        @include fill-parent;

        @include media( $tablet-up ) {

            @include span-columns(10);
            @include shift-in-context(1);

        }

    }

}

.single_add_to_cart_button {
    @include macchiato-button( $size: large );
}

table.cart {

    margin-bottom: ms(6);

    .cart_item:nth-of-type(odd) {
        background-color: $light-grey;
    }

    .cart_item:nth-of-type(even) {
        background-color: $grey;
    }

    .product-quantity .plus,
    .product-quantity .minus {

        display: none;

    }

    .product-thumbnail {

        img {
            margin: 0 auto;
            max-width: ms(6);
            height: auto;
            display: block;
        }

        &:before {
            display: none;
        }

    }

    tr:first-child {

        td.product-remove {
            border-top-width: 0;
        }

    }

    td.product-remove {

        @include clearfix;

        padding: 0;
        position: relative;

        a.remove {

            font-size: ms(2);
            position: absolute;
            left: ms(-1);
            top: ms(-1);

            @include media( $tablet-up ) {

                transform: translate( -50%, -50% );
                top: 50%;
                left: 50%;

            }

        }

    }

    td.product-quantity {

        .qty {
            padding: .326em;
            width: ms(6);
        }

    }

    td.product-subtotal {
        padding-bottom: ms(-1);
    }

    td.actions {

        background-color: transparent;
        padding: ms();
        text-align: right;

        label {
            display: none;
        }

        .coupon {
            padding-bottom: ms();
            margin-bottom: ms();
            border-bottom: 1px solid $grey;

            @include media( $phone-up ) {
                float: left;
                padding-bottom: 0;
                margin-bottom: 0;
                border-bottom: none;
                display: inline-block;

            }
        }

        input {

            display: block;
            width: 100%;
            margin: ms(-3) 0;
            font-size: ms();
            padding: ms(-1) ms();
            line-height: 1.618;

            @include media( $phone-up ) {

                display: inline-block;
                width: auto;
                margin: 0;
                vertical-align: middle;

            }

            &[name="update_cart"] {

                &:focus {
                    outline: none;
                }

            }

        }

    }

}

.wc-proceed-to-checkout {

    @include clearfix;

    margin-bottom: ms(3);

    .button {
        display: block;
        text-align: center;
        margin-bottom: ms();

        &.checkout-button {
            font-size: ms(1);
            padding: ms(2);
            background-color: $success;
            color: $white;

            &:hover {
                background-color: darken( $success, 5% );
                text-decoration: none;
            }
        }
    }
}

ul#shipping_method {

    margin: 0;
    list-style: none;

}

a.remove {

    display: block;
    width: ms(3);
    height: ms(3);
    line-height: 1.618;
    text-indent: -9999px;
    position: relative;

    &:before {

        @include fa-icon();

        content: "\f057";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        color: $error;
        line-height: 1.618;
        text-indent: 0;
        text-align: center;

    }

}

.cart-collaterals {

    @include clearfix;

    .cross-sells,
    .cart_totals {

        @include fill-parent();

    }
    
    @include media( $tablet-up ) {

        .cross-sells {

            @include span-columns( 7 );

        }

        .cart_totals {

            @include span-columns( 5 );
            float: right;
            @include omega();

        }

    }

}