/**
 * Password strength meter
 */
.woocommerce-password-strength {

    text-align: left;
    font-weight: 600;
    padding: ms(-3) 0;
    text-align: right;
    font-size: ms(-1);

    &:after {

        @include fa-icon();

        content: "\f119";
        margin-left: ms(-3);

    }

    &.strong {
        color: $success;

        &:after {
            content: "\f118";
        }
    }

    &.short {
        color: $error;
    }

    &.bad {
        color: $error;
    }

    &.good {
        color: $info;

        &:after {
            content: "\f11a";
        }
    }

}