/**
 * Widgets
 */

/**
 * Global WooCommerce Widget styles
 */
.widget.woocommerce {

    li {

        .count {

            font-size: ms(-1);
            //float: right;

        }

    }

}

.widget {
    ul.products {
        li.product {
            a {
                text-decoration: none;
            }
        }
    }
}

.widget_products {

    a {
        display: block;
    }
}

.widget_product_search {

    position: relative;

    input[type=text],
    input[type=search] {
        font-size: ms(-1);
        padding: ms();
        line-height: 1;
        padding-right: ms(6);
        min-width: ms(4);
        height: ms(4);
    }

    position: relative;

    &:after {

        @include fa-icon();

        content: "\f002";
        color: $darkest-grey;
        transform: translateY(-50%);
        position: absolute;
        top: 50%;
        right: ms();

    }

    .search-field {

        padding: ms(-1);

    }

    #searchsubmit {
        @include screen-reader-text();
    }

}

/**
 * Product List
 */
.product_list_widget {

    list-style: none;
    margin-left: 0;

    li {

        @include clearfix;

        padding: ms(-1) 0;

        &:not(:last-child) {

            border-bottom: 1px solid $grey;
    
        }

        img {
            max-width: ms(5);
            float: right;
        }

        > a {
            display: block;
        }
    }

}

.widget_shopping_cart {

    .product_list_widget {

        margin-bottom: 0;

        li {
            padding-left: 2em;
            position: relative;

            a.remove {
                position: absolute;
                top: ms();
                left: 0;
                opacity: 1;
            }

        }

    }

    p.total,
    p.buttons {
        padding: ms() 0 0;
        text-align: center;
        margin: 0;
    }

    p.total {
        border-bottom: 1px solid $grey;
        padding: ms() 0;
        margin: 0
    }

    .buttons {

        .button {
            display: block;

            &:nth-child(odd) {
                margin-bottom: ms(-2);
            }
        }

        .checkout {

            margin-bottom: 0;

        }

    }

}

/**
 * Product Categories
 */
.widget_product_categories {

    ul {

        margin: 0;

        li {

            list-style: none;
            margin-bottom: ms(-5);

            // Icon to indicate clickability
            &:before {
                @include fa-icon();

                content: "\f096";
                margin-right: ms(-3);
                opacity: 0.25;
            }

            &:hover {
                &:before {
                    opacity: 0.5;
                }
            }

            // Indicate that the selected category has a parent
            &.current-cat-parent {
                &:before {
                    content: "\f096";
                    opacity: 0.5;
                }
            }

            // Indicate that we've selected this category
            &.current-cat {
                &:before {
                    content: '\f0c8';
                    opacity: 0.5;
                }
            }

            a {

                max-width: 80%;
                display: inline;
                vertical-align: top;

            }

        }
    }

    // Indent Children
    .children {
        margin-left: ms(-4);
        li {
            margin-bottom: 0;
        }
    }

}

.widget_layered_nav {

    li {

        margin-bottom: ms(-2);

        &:before {

            @include fa-icon();

            content: "\f0c8";
            margin-right: ms(-3);
            opacity: 0.35;

        }

    }

    .chosen {

        &:before {
            content: "\f14a";
        }

    }

}

.widget_layered_nav_filters {

    li {

        &.chosen {

            padding: ms(-4) ms(-3);
            border: 1px solid;
            display: inline-block;
            font-size: ms(-1);
            text-transform: uppercase;
            border-radius: $border-radius-small;
            color: $darker-grey;
            background: $grey;
            margin: 0 ms(-5) ms(-5) 0;

            a {

                color: $black;

                &:before {
                    
                    @include fa-icon();

                    content: "\f00d";
                    margin-right: ms(-3);
                    color: $darker-grey;

                }

            }

        }

    }

}

/**
 * Price Ranger Slider
 */
.widget_price_filter {

    .price_slider {
        margin-bottom: ms();
    }

    .price_slider_amount {

        text-align: right;
        line-height: ms(1);

        .button {
            float: left;
        }
    }

    .ui-slider {
        position: relative;
        text-align: left;
    }

    .ui-slider .ui-slider-handle {

        position: absolute;
        z-index: 2;
        width: ms();
        height: ms();
        border-radius: 50%;
        cursor: ew-resize;
        outline: none;
        background: $black;
        box-sizing: border-box;
        margin-top: - ms()/4;
        opacity: 1;
        margin-left: - ms()/2;

        &:last-child {
            margin-left: - ms()/2;
        }

        &:hover,
        &.ui-state-active {
            box-shadow: 0 0 0 ms(-5) rgba( $black , 0.1);
        }
    }

    .ui-slider .ui-slider-range {
        position: absolute;
        z-index: 1;
        font-size: .7em;
        display: block;
        border: 0;

        border-top-radius: ms();
        border-bottom-radius: ms();
    }

    .price_slider_wrapper .ui-widget-content {
        border-top-radius: ms();
        border-bottom-radius: ms();
        background: rgba(0,0,0,0.1);
    }

    .ui-slider-horizontal {
        height: .5em;
    }

    .ui-slider-horizontal .ui-slider-range {
        top: 0;
        height: 100%;
    }

    .ui-slider-horizontal .ui-slider-range-min {
        left: -1px;
    }

    .ui-slider-horizontal .ui-slider-range-max {
        right: -1px;
    }

}

.site-header {
    .widget_shopping_cart {
        p.total,
        p.buttons,
        li {
            padding-left: ms(2);
            padding-right: ms(2);
        }
    }
}
