/**
 * Breadcrumbs
 *
 * Breadcrumbs are a WooCommerce feature,
 * but we've activated it everywhere.
 *
 * @see inc/woocommerce/class-macchiato-woocommerce.php
 */

.woocommerce-active .woocommerce-breadcrumb {

    padding: ms(0);

    @include pushout-columns;
    @include heading;

    font-size: ms(0);
    margin-bottom: ms(2);

    background-color: $light-grey;
    color: $darker-grey;

}