/**
 * Checkout
 *
 * 1 - Required to make the blockUI overlay cover the entire page rather than just the checkout form. We do this because
 *     otherwise our sticky order review can break out of the checkout form (and the blockUI element).
 */

.woocommerce-checkout {

    @include media( $tablet-up ) {

        .col2-set,
        #order_review_heading,
        .woocommerce-checkout-review-order {

            @include span-columns( 3 of 6 );

        }

        #order_review_heading,
        .woocommerce-checkout-review-order {

            @include omega;

        }

    }

}

.woocommerce-checkout-review-order {

    .woocommerce-checkout-review-order-table {

        background-color: $light-grey;
        padding: 0 ms(1);
        margin-bottom: ms(2);

    }

    .woocommerce-checkout-payment {

        background-color: $light-grey;

    }

}

.checkout_coupon {
    margin-bottom: ms(5);
}

form.checkout {
    @include clearfix;
    position: static !important; /* 1 */

    > .blockUI {
        position: fixed !important; /* 1 */
    }
}

.blockUI {

    &:before {

        @include fa-icon();

        animation: fa-spin .75s linear infinite;
        content: "\f110";
        height: 30px;
        width: 30px;
        line-height: 30px;
        font-size: 30px;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-left: -15px;
        margin-top: -15px;
    }

}

#payment {

    @include clearfix;

    .create-account {
        clear: both;
    }

    .payment_methods {

        margin: 0 !important;
        padding: 0 !important;

        > .wc_payment_method {
            > label {
                display: block;
                padding: ms(2);
                cursor: pointer;

                &:before {

                    @include fa-icon();
                    transition: color, ease, .2s;

                    content: "\f10c";
                    margin-right: ms(-3);

                }
            }
        }

        li {
            list-style: none !important;
            margin-left: 0;
            margin-bottom: 1px;
            position: relative;

            img {
                float: right;
                border: 0;
                padding: 0;
                max-height: ms(3);
            }

            &:last-child {
                padding-bottom: 0;
                border-bottom: 0;
            }

            &.wc_payment_method > input[type=radio]:first-child {
                @include screen-reader-text();

                &:checked + label:before {
                    content: "\f192";
                }
            }

            p {
                margin: 0;
            }

            .payment_box {
                padding: ms(2);
                background-color: #fdfdfd;

                fieldset {
                    border: 0;
                    margin: 0;
                    padding: ms() 0 0 0;
                    font-size: ms(-1);

                    label {
                        width: auto;
                        margin-left: 0;
                    }

                    .form-row {
                        margin-bottom: ms();

                        input[type="checkbox"] {
                            margin-right: 5px;
                        }
                    }

                    #cvv {
                        width: 22% !important;
                    }

                    .help {
                        width: 75%;
                        float: right;
                    }
                }

                .woocommerce-SavedPaymentMethods {
                    padding-top: ms();
                    margin: 0;

                    li {
                        margin-top: ms(-2);

                        input[type=radio] {
                            margin-right: .236em;
                        }
                    }
                }

                ul.wc-saved-payment-methods {
                    margin-left: 0;
                }

                .wc-credit-card-form-card-number,
                .wc-credit-card-form-card-expiry,
                .wc-credit-card-form-card-cvc {
                    font-size: ms(2);
                }

                .wc-credit-card-form-card-number {
                    background-repeat: no-repeat;
                    background-position: right ms(-2) center;
                    background-size: 31px 20px;
                    background-image: url(../../../assets/images/credit-cards/unknown.svg);

                    &.visa {
                        background-image: url(../../../assets/images/credit-cards/visa.svg);
                    }

                    &.mastercard {
                        background-image: url(../../../assets/images/credit-cards/mastercard.svg);
                    }

                    &.laser {
                        background-image: url(../../../assets/images/credit-cards/laser.svg);
                    }

                    &.dinersclub {
                        background-image: url(../../../assets/images/credit-cards/diners.svg);
                    }

                    &.maestro {
                        background-image: url(../../../assets/images/credit-cards/maestro.svg);
                    }

                    &.jcb {
                        background-image: url(../../../assets/images/credit-cards/jcb.svg);
                    }

                    &.amex {
                        background-image: url(../../../assets/images/credit-cards/amex.svg);
                    }

                    &.discover {
                        background-image: url(../../../assets/images/credit-cards/discover.svg);
                    }
                }
            }
        }
    }

    .terms {

        width: 100%;
        clear: both;
        float: none;
        margin-bottom: ms();
        font-size: ms(1);

        label {
            display: block;
            cursor: pointer;
        }

        input[type=checkbox] {
            margin-right: ms(-3);
        }

    }

    .place-order {

        padding: ms(2);
        margin-bottom: 0;
        float: none;
        width: 100%;

        .button {
            font-size: ms(2);
            width: 100%;
            white-space: pre-wrap;
            padding: ms(2);
            background-color: $success;
            color: $white;

            &:hover {
                background-color: darken( $success, 5% );
                text-decoration: none;
            }

        }

    }

}

.woocommerce-checkout {
    .payment-fixed {
        position: fixed;
        top: 0;
        z-index: 9;
        box-shadow: 0 6px 2em rgba(#000,.2);
    }
}

.admin-bar {
    .woocommerce-checkout {
        .payment-fixed {
            top: 32px;
        }

        #wc_checkout_add_ons label + br {
            display: none;
        }
    }
}