/**
 * Products
 */

.woocommerce-product-archive {
    .page-title {

        font-size: ms(2);
        text-transform: uppercase;

    }
}

.price {

    del {
        opacity: .5;
        font-weight: 400;

        & + ins {
            margin-left: .327em;
        }

    }

}

.stock {

    &:before {
        @include fa-icon();
        margin-right: ms(-3);
    }

    &.in-stock {
        color: $success;

        &:before {
            content: "\f118";
        }
    }

    &.out-of-stock {
        color: $error;

        &:before {
            content: "\f119";
        }
    }

}

a.reset_variations {

    display: block;
    margin-top:ms();

    &:before {

        @include fa-icon();

        content: "\f021";
        margin-right: ms(-3);

    }

}

.site-main {

    ul.products {

        @include clearfix();

        margin-left: 0;
        margin-bottom: 0;
        clear: both;

        li.product {

            @include fill-parent;

            list-style: none;
            margin-left: 0;
            margin-bottom: ms(2);
            text-align: center;
            position: relative;

        }

    }

}

@include media( $phone-up ) {

    .site-main {
        ul.products {
            li.product {
                @include span-columns( 6 of 12 );
                @include omega( 2n );
            }

        }

    }

}

@include media( $laptop-up ) {

    /**
     * Reset mobile product styles
     */
    ul.products {
        li.product {
            clear: none;
            width: 100%;
            float: left;
            font-size: ms(-1);

            &.first {
                clear: both !important;
            }

            &.last {
                margin-right: 0 !important;
            }
        }
    }

    /**
     * Main content area (adjacent to sidebar) product layout
     */
    .site-main {

        .columns-1 {
            ul.products {
                li.product {
                    @include fill-parent();
                }
            }
        }

        .columns-2 {
            ul.products {
                li.product {
                    @include span-columns( 6 of 12 );
                }
            }
        }

        .columns-3 {
            ul.products {
                li.product {
                    @include span-columns( 4 of 12 );
                    @include omega-reset( 2n, 12 );
                    @include omega( 3n );
                }
            }
        }

        .columns-4 {
            ul.products {
                li.product {

                    @include span-columns( 3 of 12 );
                    @include omega-reset( 2n, 12 );
                    @include omega( 4n );

                }
            }
        }

        .columns-5 {
            ul.products {
                li.product {

                    @include span-columns( 5 of 25 );
                    @include omega-reset( 2n, 25 );
                    @include omega( 5n );
                }
            }
        }

        .columns-6 {
            ul.products {
                li.product {
                    @include span-columns( 2 of 12 );
                    @include omega-reset( 2n, 12 );
                    @include omega( 6n );
                }
            }
        }

        ul.products {
            li.product {
                @include span-columns( 3 of 12 );
                @include omega-reset( 2n, 12 );
            }
        }

        .upsells,
        .related {
            li.product {
                @include span-columns( 3 of 12 );
                @include omega-reset( 2n, 12 );
            }
        }

        .cart-collaterals ul.products {
            li.product {
                @include span-columns( 6 of 12 );
                @include omega-reset( 2n, 12 );
                @include omega( 2n );
            }
        }

    }

}

ul.products {

    li.product {

        .star-rating,
        .price {
            margin: 0 auto;
        }

        .woocommerce-LoopProduct-link {
            display: block;
        }

        .price {
            display: block;
            color: $darkest-grey;
            font-weight: $body-bold-weight;

            ins {
                font-weight: $body-bold-weight;
                margin-left: ms(-2);
                background-color: transparent;
            }
        }

        h2, // @todo Remove when WooCommerce 2.8 is live
        h3, // @todo Remove when WooCommerce 2.8 is live
        .woocommerce-loop-product__title {
            font-size: ms(-1);
        }

        &.product-category {
            h2, // @todo Remove when WooCommerce 2.8 is live
            h3, // @todo Remove when WooCommerce 2.8 is live
            .woocommerce-loop-category__title {
                font-size: ms(-1);
            }

        }

        .star-rating {
            font-size: ms(-1);
            margin-top: ms(-4);
        }

        img {
            display: block;
            margin: 0 auto;
        }

        .product-title-wrapper {

            position: relative;
            bottom: 0;
            right: 0;
            left: 0;
            background: $white;
            color: $darkest-grey;
            padding: ms();

        }

        .add_to_cart_button {

            display: none;

        }

    }
}
