/**
 * Reviews
 */
#reviews {

    #comments {
        padding-top: 0;
    }

    .commentlist {
        list-style: none;
        margin-left: 0;

        li {

            @include clearfix;

            margin-bottom: ms(2);
            list-style: none;
            clear: both;
            background-color: $light-grey;

            &:last-child {
                border-bottom: 0;
                margin-bottom: 0;
            }

        }

    }

    .comment_container,
    #review_form_wrapper {
        padding: ms();

    }

    .comment_container {

        border-radius: 3px;

        .comment-text {
            p:last-of-type {
                margin-bottom: 0;
            }
        }
    }

    time {
        opacity: 0.5;
    }

    .avatar {
        float: left;
        width: ms(4);
        height: auto;
        margin-right: 1em;
    }

    p.meta {
        margin-bottom: 1em;
    }

    ul.children {
        @include span-columns( 5 of 6);
        margin-bottom: 0;
        padding-top: ms(3);

        li {
            margin-bottom: ms(3);

            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    .comment-form-rating {

        clear: both;

        label {
            display: block;
        }

    }

}

@include media( $phone-up ) {

    #reviews {
        .comment_container,
        #review_form_wrapper {
            padding: ms(2);
        }
    }

}

@include media( $laptop-up ) { 

    #reviews {
        .comment_container,
         #review_form_wrapper {
            padding: ms(3);
        }
    }

}

#reviews {

    .comment-form-author,
    .comment-form-email {
        width: 47%;
    }

    .comment-form-email {
        margin-right: 0;
    }

    #review_form_wrapper {

        background: $light-grey;
        margin-top: ms(2);

    }

}