/**
 * Single Product
 */
.single-product {

    .product {

        @include clearfix;

        position: relative;
        overflow: hidden;

        // Sections
        .images,
        .summary,
        .woocommerce-product-gallery,
        .woocommerce-tabs,
        .related,
        .upsells {
            margin-bottom: ms(5);
            margin-top: 0;
        }

        // Section Layout
        .images,
        .summary {
            @include fill-parent();

            @include media( max-width $tablet-up ) {
                clear: both;
            }

        }

        @include media( $tablet-up ) {

            .images {
                @include span-columns( 8 of 12 );
            }
    
            .summary {
                @include span-columns( 4 of 12 );
                @include omega();
            }

        }

    }

}

.single-product {

    .entry-summary .price {

        font-size: ms(1);

    }

    .group_table .price {
        text-align: right;
    }

    .product {

        .product_title {
            margin-bottom: ms(-2);
        }

        .price {
            font-weight: $body-bold-weight;
            margin-bottom: ms();
        }

        .woocommerce-product-rating {

            @include clearfix;

            margin-bottom: ms();
            line-height: 1;

            .star-rating {
                float: left;
                margin-right: ms(-2);
            }
        }

        .single_variation {
            .price {
                margin-bottom: ms();
                display: block;
            }
        }

        .variations_button {

            @include clearfix;

            padding-top: ms(0);

        }

        // Cart and buying options
        form.cart {

            @include clearfix;

            margin-bottom: ms(3);
            padding: ms() 0;

            .quantity {

                float: left;
                width: ms(6);
                
                input[type="number"] {
                    padding: ms(-2) ms(0);
                    height: ms(4);
                }

            }

            .button {
                float: right;
                padding: ms(-2) ms(0);
                margin-bottom: 0;
                height: ms(4);
            }

        }

        table.variations {

            margin: 0;

            th,
            td {
                display: list-item;
                padding: 0;
                list-style: none;
                background-color: transparent;
            }

            .value {
                margin-bottom: ms();
            }

        }

        .product_meta {

            font-size: ms(-1);
            padding-top: 1em;
            border-top: 1px solid $grey;

            .sku_wrapper,
            .posted_in,
            .tagged_as {
                display: block;

                &:last-child {
                    border-bottom: 0;
                }
            }
        }
    }
}