/**
 * @since 1.1.0
 * 
 */

.woocommerce-product-gallery {
    position: relative;
}

.woocommerce-product-gallery__wrapper {
    max-width: none;
}

.woocommerce-product-gallery__trigger {

    position: absolute;
    top: 1em;
    right: 1em;
    z-index: 99;

}

.woocommerce-product-gallery__image { 

    min-height: auto !important; 

}

.flex-control-thumbs {

    @include clearfix();

    margin-top: flex-gutter(12);

    li {

        img {
            width: 100%;
        }

        @include media( max-width $phone-up ) {

            @include span-columns( 6 of 12 );
            @include omega(2n);

            &:nth-child(n+3) {

                display: none;

            }

        }

        @include media( $phone-up ) {

            @include span-columns( 4 of 16 );
            @include omega( 4n );

            &:nth-child(n+5) {

                display: none;

            }

        }

    }

}


@include media( $tablet-up ) {

    .woocommerce-product-gallery--columns-3 {

        .flex-control-thumbs {

            margin-top: flex-gutter(9);

            li {

                @include span-columns( 3 of 9 );
                @include omega-reset( 4n, 9 );
                @include omega(3n);

                &:nth-child(n+4) {

                    display: none;

                }

            }

        }

    }

    .woocommerce-product-gallery--columns-4 {

        .flex-control-thumbs {

            margin-top: flex-gutter(16);

            li {

                @include span-columns( 4 of 16 );
                @include omega-reset( 4n, 16 );
                @include omega(4n);

                &:nth-child(n+5) {

                    display: none;

                }

            }

        }

    }

    .woocommerce-product-gallery--columns-5 {

        .flex-control-thumbs {

            margin-top: flex-gutter(25);

            li {

                @include span-columns( 5 of 25 );
                @include omega-reset( 4n, 25 );
                @include omega(5n);

                &:nth-child(n+6) {

                    display: none;

                }

            }

        }

    }

    .woocommerce-product-gallery--columns-6 {

        .flex-control-thumbs {

            margin-top: flex-gutter(36);

            li {

                @include span-columns( 6 of 36 );
                @include omega-reset( 4n, 36 );
                @include omega(6n);

                &:nth-child(n+7) {

                    display: none;

                }

            }

        }

    }

    .woocommerce-product-gallery--columns-7 {

        .flex-control-thumbs {

            margin-top: flex-gutter(49);

            li {

                @include span-columns( 7 of 49 );
                @include omega-reset( 4n, 49 );
                @include omega(7n);

                &:nth-child(n+8) {

                    display: none;

                }

            }

        }

    }

    .woocommerce-product-gallery--columns-8 {

        .flex-control-thumbs {

            margin-top: flex-gutter(64);

            li {

                @include span-columns( 8 of 64 );
                @include omega-reset( 4n, 64 );
                @include omega(8n);

                &:nth-child(n+9) {

                    display: none;

                }

            }

        }

    }

}