.onsale {

    position: absolute;
    top: ms(-3);
    right: ms(-3);
    color: $white;
    background: $blue;
    padding: ms(-5) ms(-2);
    font-size: ms(-1);
    text-transform: uppercase;
    display: inline-block;

    .single-product & {

        right: auto;
        left: 0;
        text-align: center;

    }

}