.menu {

    position: relative;
}

.has-shop-mega-menu > a {

    background-color: $darker-blue;
    color: $white;

    &:after {

        @include fa-icon();

        content: "\f07a";
        padding-left: ms(-2);

    }

}

.mega-menu {

    display: none;
    background-color: $white;
    border: 1px solid $darker-grey;
    position: absolute;
    top: 100%;
    right: 0;
    left: 0;
    width: 100%;
    z-index: z( $z-elements, menus );

    .has-shop-mega-menu:hover & {

        display: block;

    }

    .widget-title {

        text-transform: uppercase;
        font-weight: $header-bold-weight;
        font-size: ms(-1);
        line-height: inherit;

    }

    @include display-context( table ) {

        .mega-menu-column {

            @include span-columns(1);

            vertical-align: top;
            padding: ms(2);

            // Style up the last column differently
            &:last-child {

                @include span-columns( 2 );

                background-color: $grey;

            }

// .main-navigation ul ul li:hover > ul, .main-navigation ul ul li.focus > ul

            ul li:hover > ul,
            ul li.focus > ul {
                left: 0;
            }

            ul {

                position: relative;
                display: block;
                top: auto;
                left: 0;
                background-color: transparent;
                border-bottom: 0px;
                min-width: inherit;

            }

            li {

                padding-bottom: ms(0);

                a {

                    font-weight: $header-bold-weight;
                    text-transform: uppercase;
                    padding: 0;

                }

                & > ul li {

                    padding-bottom: 0;

                }

                & > ul li a {

                    font-weight: $header-normal-weight;
                    text-transform: none;

                }

            }

            & .menu-item-has-children {

                & > a {

                    padding-bottom: ms(-1);

                }

            }

            li {

                border: 0px;

            }

            .menu-item-has-children > a:after {

                content: '';

            }

            a {

                padding: 0;
                font-weight: $header-normal-weight;
                text-transform: none;

            }

        }

    }

}