/**
 * General WooCommerce Components
 */
.form-row-first {
    @include span-columns( 4.5 of 9 );
    clear: both;
}

.form-row-last {
    @include span-columns( 4.5 of 9 );
}

.form-row {
    label {
        display: block;
    }

    input,
    textarea,
    select {
        width: 100%;
    }

    input[type=checkbox],
    input[type=radio] {
        width: auto;
    }

    .button {
        width: auto;
    }

    &.create-account {
        label {
            display: inline-block;
        }
    }

    &.woocommerce-validated {
        input.input-text {
            box-shadow: inset 2px 0 0 $success;
        }
    }

    &.woocommerce-invalid {
        input.input-text {
            box-shadow: inset 2px 0 0 $error;
        }
    }
}

.form-row-last {
    margin-right: 0 !important;
}

.form-row-wide {
    clear: both;
    width: 100%;
}

.woocommerce-form__label-for-checkbox {

    input, span {
        vertical-align: middle;
        height: ms(5);
    }

}

.required {
    border-bottom: 0 !important;
    text-decoration: none !important;
    color: red;
}

.col2-set .col-1, .col2-set .col-2 {

    @include clearfix;

    margin-bottom: ms(2);
}

.woocommerce-message,
.woocommerce-info,
.woocommerce-error,
.woocommerce-noreviews,
p.no-comments {

    @include clearfix;

    font-size: ms();
    padding: ms() ms(3);
    margin-bottom: ms(2);
    background-color: $success;
    margin-left: 0;
    border-radius: 2px;
    color: $white;
    clear: both;
    border-left: ms(-2) solid rgba(0,0,0,0.15);


    a {

        font-weight: bold;
        color: $white;

        &:hover {
            color: $white;
            opacity: 0.7;
        }

        &.button:hover {
            opacity: 1;
        }
    }

    .button {

        padding: 0;
        background: none;
        color: $white;
        box-shadow: none;
        line-height: 1.618;
        padding-right: ms();
        border-width: 0;
        border-radius: 0;

        &:hover {
            background: none;
            color: $white;
            opacity: 0.7;
        }

    }

    pre {
        background-color: rgba(0,0,0,.1);
    }

}

.demo_store {

    position: fixed;
    left: 0;
    bottom: 0;
    right: 0;
    margin: 0;
    padding: ms() ms(2);
    background-color: $info;
    color: $white;
    z-index: z( $z-elements, modals );

    a {
        color: $white;
        text-decoration: underline;
        display: block;

        &:hover {
            text-decoration: none;
        }
    }

    &:before {

        @include fa-icon();

        content: "\f05a";
        margin-right: ms(-3);

    }

}

.quantity {
    .qty {
        width: ms(7);
        text-align: center;
    }
}

.related,
.upsells {
    > h2:first-child {
        font-size: ms(3);
        margin-bottom: 1em;
    }
}

.site-content {
    > .col{
        > .woocommerce {
            > .woocommerce-message,
            > .woocommerce-info,
            > .woocommerce-error {
                &:first-child {
                    margin-top: ms(5);
                }
            }
        }
    }
}

.woocommerce-Button--previous {

    &:before {

        @include fa-icon();

        content: "\f177";
        margin-right: ms(-3);
    }

}

.woocommerce-error {
    list-style: none;
}

.woocommerce-info,
.woocommerce-noreviews,
p.no-comments {
    background-color: $info;
}

.woocommerce-error {
    background-color: $error;
    margin: 0 0 ms() !important;
}

dl.variation {

    font-size: ms(-1);

    dd {
        margin: 0 0 ms(-1);
    }

}