.main-navigation {

    @include pushout-columns;

    display: none;
    z-index: z( $z-elements, menus );

    @include media( $tablet-up ) {

        display: block;
        margin-top: ms(1);

    }

    border-top: 1px solid $grey;
    border-bottom: 1px solid $grey;

    ul {

        @include unstyled-list;

    }

    li {

        display: inline-block;

    }

    & > .menu > li:hover > a,
    & > .menu > li.focus > a {

        background-color: $blue;
        color: $white;

    }

    a {

        color: $black;
        display: block;
        padding: ms(0);
        text-transform: uppercase;
        text-decoration: none;
        font-weight: $header-bold-weight;
        transition: 0s;

    }

}