// Used for sub-menus
$menu-width: 12.5rem;

.main-navigation {

    li {

        // Position of sub-menus when visible.
        &:hover > ul,
        &.focus > ul {
            left: 0;
        }

    }

    // Parent menu items
    .menu-item-has-children {

        position: relative;

    }

    // Visual indicator that this item has children
    .menu-item-has-children > a:after {

        @include fa-icon();

        content: "\f0d7";
        padding-left: ms(-2);

    }

    // Visual indicator that sub-menu item has children
    .menu-item-has-children > a:after {

        @include fa-icon();

        content: "\f0da";

    }

    // Sub Menu
    ul ul {

        position: absolute;
        top: 100%;
        background-color: $white;
        border-bottom: 1px solid $darker-grey;
        width: auto;
        min-width: $menu-width;
        display: block;
        left: -99rem;

        li {

            display: block;
            border: 1px solid $darker-grey;
            border-bottom-width: 0;

        }

        a {

            display: block;
            padding: ms(-1) ms(0);
            font-size: ms(-1);

            &:hover {

                background-color: transparent;
                color: $dark-blue;

            }

        }

    }

    // Target all second, third, and deeper level sub menus
    ul ul li ul {

        // Account for borders on the parent li
        top: -1px;

    }

    // Push sub-sub menus over to the right
    ul ul li:hover > ul,
    ul ul li.focus > ul {
        left: 100%;
    }

}