/**
 * Off-canvas navigation
 * 
 */

$off-canvas-width: 15.25rem;

@mixin menu-indicator( $direction ) {

    backface-visibility: hidden;
    transform: translateY( -50% );

    @if( 'left' == $direction ) {

        @include fa-icon();

        content: "\f104";
        left: ms();

    } @elseif ( 'right' == $direction ) {

        @include fa-icon();

        content: "\f105";
        right: ms();

    }

    position: absolute;
    top: 50%;
    display: inline-block;

}

.off-canvas-wrapper {

    overflow-x: hidden;

}

.off-canvas-toggle {

    display: inline-block;
    width: 15%;
    vertical-align: top;

    @include media( $tablet-up ) {

        display: none;

    }

}

.off-canvas-navigation {

    // Movement and transitions
    transition: transform $duration $transition, visibility 0s $duration $transition;
    transform: translate3d( -50%, 0, 0 );

    // properties
    height: 100%;
    width: $off-canvas-width;
    background-color: #444;

    // positioning
    position: fixed;
    top: 0;
    left: 0;
    z-index: z( $z-elements, off-canvas );

    // behaviour
    visibility: hidden;
    overflow: auto;
    -webkit-overflow-scrolling: touch;

    // class added to body when we want off-canvas active.
    .go-off-canvas & {

        transition: transform $duration $transition, visibility 0s 0s;
        transform: translate3d( 0,0,0 );

        visibility: visible;

    }

    // So we can see the menu properly when logged in 
    // Note: we've used .admin-bar not .logged-in - 
    // not all logged in users have the admin bar showing.
    .admin-bar & {

        top: 46px;

        @include media( 782px ) {

            top: 32px !important; 

        }

    }

}

.off-canvas-menu {

    a {

        display: block;
        padding: ms(-1) ms(0);
        color: $white;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        border-bottom: 1px solid #555;

    }

    .menu-item-has-children > a {

        padding-right: ms(3);
        position: relative;

    }
    
    .go-back-link {

        padding-left: ms(3);
        position: relative;

        &::after {

            @include menu-indicator( left );

        }

    }

    .menu-item-has-children > a::after {

        @include menu-indicator( right );

    }

    .sub-menu {

        transform: translate3d( -100%, 0, 0 );
        transition: transform $duration;

        position: fixed;
        top: 0;
        right: 0;
        height: 100%;
        width: $off-canvas-width;
        background: #333;
        overflow: auto;
        -webkit-overflow-scrolling: touch;
        z-index: z( $z-elements, off-canvas );

        &.is-active {

            transform: translate3d( 0, 0, 0 );

        }

    }

}

.off-canvas-overlay {

    transform: translate3d( 0, 0, 0 );

    position: fixed;
    width: 100%;
    height: 100%;
    background-color: $black;
    opacity: 0;
    z-index: z( $z-elements, overlay );
    cursor: pointer;
    visibility: hidden;

    backface-visibility: hidden;
    transition: opacity $duration $transition 0s, visibility 0s $delay, transform $duration $transition 0s;

    .go-off-canvas & {

        transform: translate3d( $off-canvas-width, 0, 0 );
        transition: opacity $duration $transition 0s, visibility 0s 0s, transform $duration $transition 0s;

        opacity: 0.5;
        visibility: visible;

    }

}

.site {

    will-change: transform; 
    transform: translate3d( 0,0,0 );
    transition: transform $transition $duration;

    position: relative;
    z-index: z( $z-elements, site );

    .go-off-canvas & {

        transform: translate3d( $off-canvas-width, 0, 0 );
        transition: transform $transition $duration;

    }

}