.widget-area {

    .widget {

        margin-bottom: ms(0);
        padding-bottom: ms(0);

        &:not(:last-child) {
            border-bottom: 1px solid $dark-grey;
        }

    }

    .widget-title {

        display: block;
        font-weight: $header-bold-weight;
        margin-bottom: ms(0);
        font-size: ms(1);
        line-height: ms(1);

    }

}

.footer-widget-area {

    @include fill-parent();

    padding-top: ms( 6 );
    padding-bottom: ms( 2 );

    // Classes are dynamically added server side 
    // depending on which widget
    // areas are active.
    .active-4 & {
        @include media( $phone-up ) {
            @include span-columns( 3 );
        }
    }

    .active-3 & {
        @include media( $phone-up ) {
            @include span-columns( 4 );
        }
    }

    .active-2 & {
        @include media( $phone-up ) {
            @include span-columns( 6 );
        }
    }

    .active-1 & {
        @include fill-parent();
    }

    // end
    &:last-of-type {

        @include omega();

    }

}