.comments-title {
    margin-bottom: ms(1);
}

.comments-title, .comment-reply-title {
    font-size: ms(1);
    padding-top: ms(1);
}

.comment-list {

    &, & .children {

        @include unstyled-list;

    }

    .children > li {

        padding-left: ms(0);

        @include media( $laptop-up ) {

            padding-left: ms(2);

        }

    }

}

.comment-list article, 
.comment-list .pingback, 
.comment-list .trackback {

    border-top: 1px solid #d1d1d1;
    padding: ms(2) 0;

}

.site .avatar {
    border-radius: 50%;
}

.comment-author .avatar,
.author .avatar {

    float: left;
    height: 28px;
    margin-right: 0.875em;
    position: relative;
    width: 28px;

    @include media( $laptop-up ) {

        height: 42px;
        position: relative;
        top: 0.25em;
        width: 42px;

    }

}

.comment-metadata {

    margin-bottom: ms(2);

}

.comment-metadata,
.pingback .edit-link {

    @include subheading;

    &, & a {

        color: $darker-grey;

    }

}

.says {

    @include screen-reader-text;

}
