.footer-bar {

    @include clearfix();

    clear: both;
    padding: ms(4);
    font-size: ms(1);

    background-color: $blue;
    color: $white;

    .content-wrapper {

        position: relative;
        z-index: 1;

    }

}