.pagination {
    clear: both;
}

.pagination .page-numbers,
.woocommerce-pagination .page-numbers {

    li {

        display: inline-block;

        .page-numbers {

            border-left-width: 0;
            display: inline-block;
            padding: ms(-4) ms(-1);
            background-color: $grey;
            color: $black;
            text-transform: uppercase;
            font-size: ms(-1);

            &:not(.dots) {

                &:hover,
                &:focus {

                    background-color: $darkest-grey;

                }

            }

            &.current {

                transition: 0s;
                background-color: $black;
                color: $white;

                &:hover,
                &:focus {

                    background-color: $black;

                }

            }

        }

    }

}