/**
 *
 * 
 */
.site-branding {

    display: inline-block;
    width: 70%;
    margin: 0 -5px ms(0);
    vertical-align: top;
    text-align: center;

    @include media( $tablet-up ) {

        margin: 0 0 ms(1);
        text-align: left;

        @include span-columns( 5 );

    }

    h1 {

        font-size: ms(2);

    }

    a {

        display: block;
        margin: 0 auto;

        @include media( $tablet-up ) {
            margin: 0;
        }

    }

    .site-description {

        @include subheading;

        display: none;

        @include media( $tablet-up ) {

            display: inline-block;

        }

    }

}

.site-branding a.custom-logo-link {
    display: none;
}

.site-branding a.small-screen-logo-link {
    display: block;
    margin: 0 auto;
}

@media screen and (min-width: 769px) {
    .site-branding a.small-screen-logo-link {
        display: none;
    }
    .site-branding a.custom-logo-link {
        display: block;
    }

}