/**
 *
 * 
 */
.site-copyright {

    @include unstyled-list( $inline: true );
    @include subheading;

    text-align: center;

    @include media( $laptop-up ) {

        text-align: left;

    }

    font-size: 90%;

    li:not(:last-of-type) {
        
        &:after {

            content: '|';
            padding: 0 ms(0)/4;

        }

    }

}