/**
 * List of payment cards/gateways accepted
 *
 */
.site-payment-gateways {

    clear: both;
    padding: ms(0) 0 0;

    ul {

        @include unstyled-list( true );

    }

    li:not(:last-of-type) {

        margin-right: ms(-2);

    }

}