button,
input[type="button"],
input[type="reset"],
input[type="submit"],
.button,
.added_to_cart {

    @include macchiato-button( $black, $blue );

    &.button--large {

        @include macchiato-button( 
            $background: $button-background, 
            $background-hover: $button-background-hover, 
            $color: $button-color,
            $size: large,
            $hollow: false
        );

    }

    &.added {
        &:after {

            @include fa-icon();

            content: "\f00c";
            margin-left: ms(-3);

        }
    }

    &.loading {
        opacity: 0.5;
    }

    &.small {
        padding: ms(-3) ms(-1);
        font-size: ms(-1);
    }

    &.disabled,
    &:disabled {

        opacity: 0.5 !important;
        cursor: not-allowed;

        &:hover {
            opacity: 0.5 !important;
        }

    }

}

.button--large {

    @include macchiato-button( $size: large );

}