/**
 * Forms
 * 
 */

select {

    border: 1px solid $darker-grey;
    color: $black;
    font-size: ms(0);

}

form {

    margin-bottom: ms(1);

}

button,
input,
select,
textarea {

    font-size: 100%; /* Corrects font size not being inherited in all browsers */
    margin: 0; /* Addresses margins set differently in IE6/7, F3/4, S5, Chrome */
    vertical-align: baseline; /* Improves appearance and consistency in all browsers */
    max-width: 100%;

}

input[type="checkbox"],
input[type="radio"] {

    /* Addresses excess padding in IE8/9 */
    padding: 0;

}

input[type="search"]::-webkit-search-decoration {

    /* Corrects inner padding displayed oddly in S5, Chrome on OSX */
    -webkit-appearance: none;

}

input[type="search"] {

    // Overrules normalize.css.
    box-sizing: border-box;

}

button::-moz-focus-inner,
input::-moz-focus-inner { 

    /**
     *  Corrects inner padding and border displayed oddly in FF3/4 
     *  www.sitepen.com/blog/2008/05/14/the-devils-in-the-details-fixing-dojos-toolbar-buttons/
     */
    border: 0;
    padding: 0;

}

legend {

    display: block;
    width: 100%;
    padding: ms(-2) 0;
    margin-bottom: ms(-2);
    border-bottom: 1px solid $dark-grey;

}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
textarea,
.input-text {

    transition: all $transition $duration;

    -webkit-appearance: none;

    width: 100%;
    padding: ms(-2);
    background-color: darken( $white, 1%);
    color: $black;
    outline: none;
    border: 0;
    border-radius: 2px;
    font-weight: $body-normal-weight;
    box-shadow: inset 0px 0px 0px 1px rgba( $black, 0.125 );

    &:focus {
        color: darken( $black, 10% );
        box-shadow: inset 0px 0px 0px 1px $darker-grey;
    }

}

textarea {

    /* Removes default vertical scrollbar in IE6/7/8/9 */
    overflow: auto;
    padding-left: ms(-1);

    /* Improves readability and alignment in all browsers */
    vertical-align: top;
    width: 100%;

}

label {

    font-weight: $body-normal-weight;

}

label.inline {

    input {
        width: auto;
    }

}

fieldset {

    padding: 0;
    border: 0;
    margin-bottom: ms(1);

    legend {
        font-weight: $body-bold-weight;
    }

}