/**
 * Media
 * ============================ */

img {

    max-width: 100%;
    height: auto;
    display: inline-block;
    vertical-align: middle;

    -ms-interpolation-mode: bicubic;

}

/**
 * WordPress Image/Caption stuff
 */
figure {

    max-width: 100%;
    margin: 0;

}

img {
    height: auto;
    max-width: 100%;
    vertical-align: middle;
}

.alignleft,
.alignright,
.aligncenter {
    float: none;
    display: block;
    margin: 0 auto ms(2);
}

.alignnone {

    float: none;
    display: block;
    margin: 0 0 ms(2);

}

@include media( $phone-up ) {

    .alignleft {
        float: left;
        margin: ms(-3) ms(2) ms(2) 0;
    }

    .alignleft {
        float: left;
        margin: ms(-3) ms(2) ms(2) 0;
    }

    .alignright {
        float: right;
        margin: ms(-3) 0 ms(2) ms(2);
    }

}

.wp-caption {
    margin-bottom: ms(2);
    max-width: 100%;
}

.wp-caption .wp-caption-text {
    color: $darkest-grey;
    font-size: ms();
    font-style: italic;
    line-height: ms(0);
    padding-top: ms(-2);
}

.aligncenter {
    clear: both;
    display: block;
    margin: 0 auto ms(2);
}