table {

    border-spacing: 0;
    width: 100%;
    font-size: ms(0);
    border-collapse: collapse;
    margin-bottom: ms();

    p {

        margin-bottom: 0;

    }

}

thead {
    border-bottom: 1px solid $dark-grey;
}

thead th {
    padding-bottom: ms(1);
}

tfoot {
    border-top: 1px solid $dark-grey;
}

tfoot td {
    padding-top: ms(1);
}

th {

    padding: ms(-2);
    text-align: left;
    vertical-align: top;

    @include media( $tablet-up ) {

        padding: ms();

    }

}

tr:not(:last-of-type) {
    border-bottom: 1px solid $dark-grey;
}

td {

    padding: ms(-2);
    vertical-align: middle;

    @include media( $tablet-up ) {
        padding: ms(1);
    }
}