/**
 * Base
 * 
 */

div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,p,blockquote,th,td, fieldset {
    margin: 0;
    padding: 0;
}

body {

    -ms-word-wrap: break-word;
    word-wrap: break-word;

}

/**
 * Body font styles
 */
body,
button,
input,
select,
textarea {

    font-family: $body-font;
    font-weight: $body-normal-weight;
    line-height: 1.618;

    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;

}

button, 
input, 
select, 
textarea {

    font-size: 100%;
    margin: 0;
    vertical-align: baseline;

}

/**
 * Header font styles
 */
h1,
h2,
h3,
h4,
h5,
h6,
.main-navigation a,
.page-numbers,
.widget-area .widget-title,
.posted-on,
.cat-links,
.tags-links,
.nav-arrow,
.mega-menu .widge.woocommerce-Price-amount,
.product-title {

    font-family: $header-font;

}

h1,
h2,
h3,
h4,
h5,
h6 {

    margin-top: 0;
    margin-bottom: ms(-1);
    font-weight: $header-bold-weight;
    line-height: 1.1;

    & label {
        font-weight: $header-bold-weight;
    }

    &.entry-title {

        margin: 0 0 ms(2);

    }

}

/**
 * Font Sizing
 */
body { font-size: ms(0); }

    h5 { font-size: ms(-2); }
    h4 { font-size: ms(-1); }
    h3 { font-size: ms(0); }
    h2 { font-size: ms(1); }
    h1 { font-size: ms(2); }
    .entry-content { font-size: ms(); }

@include media( $phone-up ) {

    h5 { font-size: ms(-1); }
    h4 { font-size: ms(0); }
    h3 { font-size: ms(1); }
    h2 { font-size: ms(2); }
    h1 { font-size: ms(3); }

}
@include media( $desktop-up ) {

    h5 { font-size: ms(0); }
    h4 { font-size: ms(1); }
    h3 { font-size: ms(2); }
    h2 { font-size: ms(3); }
    h1 { font-size: ms(4); }
    .entry-content { font-size: ms(1); }

}

@include media( $big-desktop-up ) {

    h5 { font-size: ms(1); }
    h4 { font-size: ms(2); }
    h3 { font-size: ms(3); }
    h2 { font-size: ms(4); }
    h1 { font-size: ms(5); }

    .entry-header {

        h5 { font-size: ms(0); }
        h4 { font-size: ms(1); }
        h3 { font-size: ms(2); }
        h2 { font-size: ms(3); }
        h1 { font-size: ms(4); }

    }

}

/**
 * Links
 */
a {

    transition: all $transition $duration;

    color: $anchor-color;
    text-decoration: $anchor-text-decoration;
    line-height: inherit;
    cursor: pointer;

    &:hover,
    &:focus,
    &.active {

        color: $anchor-color-hover;

        @if $anchor-text-decoration-hover != $anchor-text-decoration {
            text-decoration: $anchor-text-decoration-hover;
        }

    }

    img {

      border: 0;

    }

}

/**
 * Paragraphs
 * 
 */
p {

    margin: 0 0 ms(1);

}

.widget-title {

    .footer-widget-area & {

        @include heading;

        display: block;
        border-bottom: 1px solid;
        padding-bottom: ms(0);
        margin-bottom: ms(0);

    }

}

/**
 * Lists
 *
 * Unordered, Ordered, Definitions
 */
ul {

    // We do far more lists with no bullets, 
    // so let's make this the default
    @include unstyled-list;

    .entry-content &,
    .comment-content & {

        list-style-type: square;
        margin: 0 0 ms(0) ms(0);

    }

}

ol {

    .entry-content &,
    .comment-content & {

        margin: 0 0 ms(0) ms(0);

    }

}

dl {
    margin: 0 0 ms(2);
}

dt {
    font-weight: $body-bold-weight;
}

dd {
    margin: 0 0 ms(1);
}


/**
 * Quotes
 */
blockquote {

    .entry-content &,
    .comment-content & {

        padding-left: ms(1);
        font-style: italic;
        font-size: 100%;
        border-left: 4px solid $black;
        color: $darkest-grey;
        margin-left: - ms(1);

    }

}

cite {

    text-transform: uppercase;
    font-size: ms(-1);
    color: $black;
    font-style: normal;

}

dfn,
em,
i {
    font-style: italic;
}

address {
    font-style: italic;
    margin: 0 0 ms(1);
}

abbr, acronym {
    border-bottom: 1px dotted $light-grey;
    cursor: help;
}

/**
 * Monospaced stuff
 * 
 */
code,
kbd,
tt,
var,
samp,
pre {
    font-family: Inconsolata, monospace;
}

pre {

    border: 1px solid $grey;
    font-size: ms(0);
    line-height: ms(1);
    margin: 0 0 ms(2);
    max-width: 100%;
    overflow: auto;
    padding: ms(2);
    white-space: pre;
    white-space: pre-wrap;
    word-wrap: break-word;

}

ins,
mark {

    background: 0 0;

}

mark {

    font-weight: $body-bold-weight;

}