/**
 * Grid Settings
 * ============================ */

// Grid settings
$column: modular-scale(3, 1rem, $golden);
$gutter: modular-scale(1, 1rem, $golden);
$grid-columns: 12;
$max-width: 1200px;

// Visual grid helper
$visual-grid: false;
$visual-grid-index: front;
$visual-grid-color: #666;
$visual-grid-opacity: .1;

// Sizes for media queries
$phone-up: 600px;
$tablet-up: 900px;
$laptop-up: 1200px;
$desktop-up: 1400px;
$big-desktop-up: 1800px;

// Modular Scale
$ms-base: 1rem 1.25rem;
$ms-ratio: $golden;

//ms(0);   1.000rem - $ms-base
//ms(1);   1.618rem
//ms(2);   2.618rem
//ms(3);   4.236rem
//ms(4);   6.854rem
//ms(5);  11.090rem

