/**
 * Authored Mixins
 * ============================ */

/**
 * Omega Reset for Bourbon Neat
 * http://www.ryanscherler.com/notes/entry/omega-reset-for-bourbon-neat/
 */
@mixin omega-reset($nth, $context: null) {
  @if $context == null { 
    &:nth-child(#{$nth}) { margin-right: flex-gutter(); } 
  } @else { 
    &:nth-child(#{$nth}) { margin-right: flex-gutter($context); } 
  }
  &:nth-child(#{$nth}+1) { clear: none; }
}

// Red border helper for development. Discard on release.
@mixin dev-border {
    box-shadow: inset 0px 0px 1px 0px #f00;
}

// Remove margins and bullets/numbers on lists.
@mixin unstyled-list( $inline: false ) {

    margin: 0;
    list-style-type: none;

    @if ( $inline ) {
        li {
            display: inline-block;
        }
    }

}

// Horizontal centre
@mixin auto-margin {
 
    margin: { 
        left: auto;
        right: auto;
    }

}

// Hide text, but make sure it can be read still by screen readers.
@mixin screen-reader-text {

    clip: rect(1px, 1px, 1px, 1px);
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;

}

// Magical full-width containers inside grid containers
@mixin pushout-columns {

    clear: both;
    margin-left: -( ms(2) );
    margin-right: -( ms(2) );
    padding-left: ms(2);
    padding-right: ms(2);

    @include media( $laptop-up ) {

        margin-left: -99rem;
        margin-right: -99rem;
        padding-left: 99rem;
        padding-right: 99rem;

    }

}

// Button mixin
@mixin macchiato-button( $background: $button-background, $background-hover: $button-background-hover, $color: $button-color, $size: normal, $hollow: false ) {

    transition: background-color $duration $transition, color $duration $transition;

    display: inline-block;
    text-align: center;
    line-height: 1;
    cursor: pointer;
    vertical-align: middle;
    border: 1px solid transparent;
    border-radius: 2px;
    background-color: $background;
    color: $color;
    text-transform: uppercase;
    font-weight: $body-bold-weight;

    padding: ms(-2) ms(-1);
    margin: 0;
    font-size: ms(-1);

    @if ( 'large' == $size ) {
        padding: ms(-1) ms(0);
        margin: 0;
        font-size: ms(0);
    }

    &:hover,
    &:focus {
        background-color: $background-hover;
        color: $color;
        outline: none;
    }

    @if $hollow {
        /// Removes background fill on hover and focus for hollow buttons.
      &,
      &:hover, &:focus {
        background-color: transparent;
      }

    }

}

// Font Awesome Icon base
@mixin fa-icon() {

    display: inline-block;
    font: normal normal normal ms(0)/1 FontAwesome; // shortening font declaration
    font-size: inherit; // can't have font-size inherit on line above, so need to override
    text-rendering: auto; // optimizelegibility throws things off #1094
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

}

@mixin heading() {

    text-transform: uppercase;

}

// Subheadings
@mixin subheading() {

    text-transform: uppercase;
    font-size: ms(-1);

}