/**
 * Variables
 * ============================ */

// Colors
$white:        #ffffff;
$light-blue:   #d5eefb;
$blue:         #007acc;
$dark-blue:    #1e85be;
$darker-blue:  #072f44;
$light-grey:   #fafafa;
$grey:         #f7f7f7;
$dark-grey:    #f2f2f2;
$darker-grey:  #c2c2c2;
$darkest-grey: #828282;
$black:        #1b1c1d;
$orange:       #FF8507;

$success:     #4CAF50;
$error:       #F44336;
$info:        #FF8507;

// Links
$anchor-color: $blue;
$anchor-color-hover: #686868;
$anchor-text-decoration: none;
$anchor-text-decoration-hover: none;

// Typography
$body-font: 'Merriweather', sans-serif !default;
$header-font: 'Montserrat', sans-serif !default;
$body-bold-weight: 700;
$body-normal-weight: normal;
$header-bold-weight: 700;
$header-normal-weight: 400;

// Transitions
$transition: ease-in-out;
$duration  : 0.2s;
$delay     : 0.2s; 

// Z indices 
$z-elements: off-canvas, site, menus, overlay, modals;

// Buttons
$button-background:       $black;
$button-background-hover: $blue;
$button-color:            $white;
$border-radius:           5px;
$border-radius-small:     3px;