*, *:after, *:before {

    box-sizing: border-box;

}

.site {

    overflow-x: hidden;

}

.site-content,
.content-wrapper {

    margin-left: ms();
    margin-right: ms();

    @include media( $phone-up ) {

        margin-left: ms(2);
        margin-right: ms(2);

    }

    @include media( $laptop-up ) {

        @include outer-container( 1160px );

    }

    @include media( $desktop-up ) {

        @include outer-container( 1300px );

    }

    @include media( $big-desktop-up ) {

        @include outer-container( $desktop-up );

    }

}

.site-main {

    margin-bottom: ms(10);

}

.site-content,
.site-main,
.content-area {

    @include clearfix;

}

.site-content {

    .home & {

        margin-top: ms(1);

    }

}

.blog:not(.home),
.search-results,
.author,
.date,
.category,
.tag {

    .content-area {

        @include media( $laptop-up ) {
            @include span-columns( 8 );
        }

    }

    .widget-area {

        @include media( $laptop-up ) {
            @include span-columns( 3 );
            @include shift-in-context(1);
        }

    }

}