.site-footer {

    clear: both;
    background-color: $light-grey;

}

.site-bottom-bar {

    @include clearfix();
    @include pushout-columns;

    margin-top: ms( 1 );
    background-color: $dark-grey;

}


.site-terms {

    // Helps with vertical alignment
    line-height: ms(5);

}

.site-terms {

    // Full width
    @include fill-parent();

    // 50%
    @include media( $laptop-up ) {
        @include span-columns(6);
    }

}