.site-header {

    @include clearfix();

    padding-top: ms(1);
    margin-bottom: ms(4);

    .woocommerce-active & {
        margin-bottom: 0;
    }

}

.site-main {

    position: relative;

}

.main-navigation {

    display: none;
    position: relative;
    z-index: z( $z-elements, menus );

    @include media( $tablet-up ) {

        display: block;
        margin-top: ms(1);

    }

}