.page-template-default:not( .woocommerce-page ) .type-page {

    .entry-header, 
    .entry-content {

        @include media( $laptop-up ) {

            @include span-columns( 8 );
            @include shift( 1 );
            @include omega();

        }

    }

    .entry-header img {

        margin-bottom: ms();

    }

}