.page-template-tpl-full-width .type-page {

    .entry-header, 
    .entry-content {

        @include media( $laptop-up ) {

            @include span-columns( 10 );
            @include shift( 1 );
            @include omega();

        }

    }

}