.home,
.blog,
.search-results,
.author,
.date,
.category,
.tag {

    .type-post,
    .type-page {

        margin-bottom: ms(2);
        padding-bottom: ms(2);
        overflow: hidden;

        img {
            margin-bottom: ms(0);
        }

        &:not(:last-child) {
            border-bottom: 1px solid $dark-grey;
        }

    }

}

.home {

    .type-post {

        .entry-title {

            margin-bottom: ms();

        }

    }

}

/**
 * For all post archives that will typically 
 * have a title, add a top border to the first post.
 */
.author,
.date,
.category,
.tag {

    .post {

        &:first-of-type {
            border-top: 1px solid $dark-grey;
            padding-top: ms(2);
        }

    }

}

.updated:not( .published ) {
    display: none;
}