.single {

    .nav-links {

        @include outer-container;

        margin-top: ms(3);
        border-top: 1px solid $dark-grey;
        padding-top: ms(2);

    }

    .nav-arrow {

        display: block;
        color: $darker-grey;

    }

    .nav-next {

        text-align: center;
        padding-top: ms(1);

        @include media( $phone-up ) {

            text-align: right;
            padding-top: 0;

        }

        .nav-arrow:after {

            @include fa-icon();

            content: "\f178";
            padding-left: ms(-1);

        }

    }

    .nav-previous {

        text-align: center;

        @include media( $phone-up ) {

            @include span-columns(6);

            text-align: left;

        }

        .nav-arrow:before {

            @include fa-icon();

            content: "\f177";
            padding-right: ms(-1);

        }

    }

}