.single-post {

    .content-area {

        @include media( $phone-up ) {
            @include span-columns( 12 );
        }

        @include media( $laptop-up ) {
            @include span-columns( 10 );
        }

        @include media( $desktop-up ) {
            @include span-columns( 8 );
            @include shift( 2 );
        }

    }

    .entry-content {

        padding: ms(1) 0;

    }

    .author {

        @include clearfix();

    }

}